/* Define your root variables here */
:root {
    --bg: rgb(218, 174, 174);
    --dark: rgb(0, 0, 0);
    --light: white;
    --blended: linear-gradient(
      to right,
      #434343 0%,
      black 100%
    ); /* Gradient background */
    --text: white;
  }
  
  /* Reset default margin and padding for all elements */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: var(--blended); /* Set the background image using the blended gradient */
  }
  
  /* Container to hold the entire content */
  .container {
    position: relative;
    height: 100%;
  }
  
  /* Header styles */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-bottom: 5ch; /* Add margin at the bottom to create space between header and content */
    padding: 0;
  }
  
  /* Navigation styles */
  nav {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
  }
  a:hover{
    color: grey;
  }
  
  /* Header title styles */
  .header-title {
    display: contents;
    align-items: center;
    width: 20vw;
    background-color: aliceblue;
    border: 5px solid green;
  }
  
  /* Header title text styles */
  .header-title p {
    position: absolute;
    top: 1%;
    left: 5%;
    text-align: center;
    color: var(--text);
    font-family: "Merriweather", serif;
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 10ch;
  }
  
  /* Optional styling for the navigation links */
  nav a {
    flex-wrap: wrap;
    font-family: "Merriweather", serif;
    padding: 0 10px;
    color: var(--text);
    text-decoration: none;
    font-size: 3ch;
  }
  
  /* Image container styles */
  #img-container {
    position: relative;
    height: 20vh;
    width: 100%;
    background-image: url("541_qwjzdhjhy3rpb24glsaxotc3.jpg");
    background-size: cover;
    text-align: center;
  }
  #img-container h1{
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   font-size: 5vh;
   color: var(--text);
  }
  /* Content container styles */
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Side container styles */
  .side-container {
    flex: 1;
    display: grid;
    max-width: 15vw;
    padding: 20px;
    justify-content: center;
  }
  
  /* Main content styles */
  main {
    flex: 1;
    width: 80%;
    min-height: 150vh;
    padding: 20px;
    margin-top: 8ch;
  }
  
  /* About me section styles */
  #about-me {
    display: flex;
    border-right: 5px solid var(--text);
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 25vh;
    margin-top: 5ch;
  }
  
  /* Work section styles */
  #work {
    display: flex;
    border-right: 5px solid var(--light);
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 70vh;
  }
  
  /* General h1 styles */
  .side-container h1  {
    justify-content: center;
    color: var(--text);
  }
  
  /* Contact section styles */
  #contact {
    display: flex;
    border-right: 5px solid var(--text);
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 15vh;
  }
  
  /* About me text styles */
  #about-me-text {
    color: var(--text);
    margin-left: 9vw;
    margin-right: 9vw;
  }
  /* setting styling for work container */
  #work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    margin-top: 35ch;
  }
  /* styling for boxes within container */
  
  #work-container > div {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    height: 30vh;
    max-width: 30vw;
    border: 10px solid white;
    position: relative;
    overflow: initial;
  }
  /* styling for the overlaying color on the images */
  #work-container > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 153, 255, 0.5);
    z-index: 1;
    pointer-events: none;
  }
 img:hover {
    opacity: 0.8;
  }
  /* styling for wedding web img */
  #wedding-web img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* styling for rsvp web img */
  #rsvp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* styling for counder img */
  #counter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* styling for calculator img */
  #calculator img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* styling for the links in work-container */
  .work-container a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .work-text{
    height: 10vh;
    border: 10px solid rgb(255, 255, 255);
    position: absolute; 
    bottom: -10%; 
    left: 12%; 
    transform: translate(-50%, -50%);
    margin-top: 0;
    justify-content: center;
    background-image: var(--blended); 
    z-index: 3;
    width: 7vw;
    color:var(--text) ;
    text-align: center;
    font-size: 1vh;
  }
  /* styling for h1 in wedding-web */
  #wedding-web h1 {
    font-size: larger;
    text-align: center;
    color: var(--text);
    padding: 10px;
  }
  #wedding-web p {
    font-family: 'Times New Roman', Times, serif;
    color: var(--text);
  }

  /* styling for contanct-me div */
  .contact-me {
    margin-top: 18vh;
    margin-left: 9vw;
    height: 13vh;
    width: 63vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* styling for contact-me divs */
  .contact-me > div {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    height: 8vh;
    max-width: 8vw;
    position: relative;
    overflow: initial;
  }
  /* styling for contact me img's */
  .contact-me img {
    margin: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* styling for my icon and hidding it */
  }
  .icon-container .icon-text {
    position: absolute;
    display: none;
    left: 55%;
    top: 110%;
    transform: translateX(-50%);
  }
  /* styling for when my icon is hovered  */
  .icon-container:hover .icon-text {
    display: inline;
    font-size: 2vh;
    margin: 5%;
    color: var(--text);
  }
  